<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password recovery</title>
    <style>
      .main {
        background-color: black;
        width: 100%;
        padding: 20px 0;
      }
      .content {
        margin: 0 auto;
        width: 70%;
        background-color: white;
        padding: 1rem;
        padding-bottom: 60px;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="content">
        <h2>Password Change Request</h2>
        <p>We have received a password change request for your account</p>
        <p>
          This link will expire in 10 minutes. If you did not request a password
          change, please ignore this email, no changes will be made to your
          account.
        </p>
        <p>To change your password, click the link below:</p>
        <a href="{{link}}">{{link}}</a>
      </div>
    </div>
  </body>
</html>
